/* Позиционирование */
 /* Блочная модель */
 /* Типографика */
 /* Оформление */
  /* Анимация */
  /* Разное */


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), 
  url("../fonts/web/ptsans.woff2") format("woff2"),
  url("../fonts/web/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), 
  url("../fonts/web/ptsansbold.woff2") format("woff2"),
  url("../fonts/web/ptsansbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: local("Cuprum Regular"), local("Cuprum-Regular"), 
  url("../fonts/web/cuprum.woff2") format("woff2"),
  url("../fonts/web/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: local("Cuprum Bold"), local("Cuprum-Bold") 
  url("../fonts/web/cuprumbold.woff2") format("woff2"),
  url("../fonts/web/cuprumbold.woff") format("woff");
}  

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: local("Cuprum Italic"), local("Cuprum-Italic"), 
  url("../fonts/web/cuprumitalic.woff2") format("woff2"),
  url("../fonts/web/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src: local("Cuprum Bold Italic"), local("Cuprum-BoldItalic"), 
  url("../fonts/web/cuprumbolditalic.woff2") format("woff2"),
  url("../fonts/web/cuprumbolditalic.woff") format("woff");
}

html { 
  box-sizing: border-box; 
}

*, *::before, *::after {
  box-sizing: inherit; 
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;  
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix {
  height: 0px;
  clear: both;
}

.main-header {
  display:flex;
  flex-direction: column;
}

.header-top {
  min-height: 42px;
  background-color: #293449;  
}

.header-top .container {
  display:flex;
  justify-content: space-between;
}

.technomart-logo {
  width: 220px;
  background-color: #ee3643;
  background-image: url("../img/logo-technomart.svg");
  background-repeat: no-repeat;
  background-position: 55px 13px;
  background-size: 109px 19px;
}

.technomart-logo a {
  display: block; 
  width: auto;
  height: 100%;
}

.search-form {
  display: block;
  width: 270px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 17px;
}

.search-button {
  vertical-align: bottom;
  display: inline-block;
  width: 17px;
  height: 17px;
  padding: 0px; 
  margin-right: 10px;
  font-size: 0px;
  background-image: url("../img/icon-search.svg");
  background-size: cover;
  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.search-form label {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.search-form input {
  padding: 0px;
  background-color: transparent;
  border: none;
}

.links-container {
  width: 450px;
  padding: 0px;
  font-size: 0px;
}

.links-container a {
  display: inline-block;
  width: 150px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.bookmark-link {
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 17px;
}

.bookmark-logo {
  vertical-align: top;
  display: inline-block;
  width: 14px;
  height: 16px;
  margin-right: 9px;
  font-size: 0px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-size: 14px 16px;
  opacity: 0.3;
}

.cart-link.full-cart {
  background-color: #ee3643;
}

.cart-link {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
}

.cart-logo{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 12px;
  background-image: url("../img/icon-cart.svg");
  background-size: cover;
  opacity: 0.3;
}

.order-link {
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 20px;
  background-color: #63a63e;
}

.header-middle {
  min-height: 278px;
}

.header-middle .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-middle,
.perforator-article {
  background-color: #f4f7f9;
}

.slogan-container {
  width: 300px;
  padding-top: 48px;
  padding-bottom: 40px;
  padding-left: 52px;
  padding-right: 50px; 
}

.slogan-container p {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.info-container {
  width: 300px;
  padding-top: 45px;
  padding-bottom: 39px;
  padding-right: 29px;
}

.info-container p {
  margin: 0px;
  padding-left: 10px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #32425c;
}

.phone-link {
  display: block;
  width: 270px;
  padding-top: 10px;
  padding-left: 12px;
  margin-bottom: 4px;
  padding-bottom: 8px;
  margin-bottom: 4px;
  border: 3px solid #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #ee3643;
}

.call-icon {
  vertical-align: middle;
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 35px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-size: 19px 19px;
}

.login-links {
  width: 300px;
  padding-top: 45px;
  padding-bottom: 67px;
  padding-left: 19px;
}

.login-link {
  display: inline-block;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 14px;
  padding-right: 27px;
  margin-right: 5px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff
}

.login-icon {
  vertical-align: middle;
  display: inline-block;
  width: 20px;
  height: 17px;
  margin-right: 9px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.registration-link {
  display: inline-block;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 23px;
  padding-right: 23px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff
}

.user-profile {
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.user-profile::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logout-link {
  display: inline-block;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.account-links a {
  color: #32425c;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
}

.dark-dot {
  display: inline-block;
  width: 4px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
}

.header-nav {
  width: 960px;
  margin-bottom: 55px;
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
}

.nav-list {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item a {
  display: block;
  width: auto;
  padding-top: 20px;
  padding-bottom: 23px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  color: #ffffff;
}

/* main index.html */

.container .promo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.promo {
  margin-top: 60px;
}

.promo-item {
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
}

.promo-item h3 {
  margin: 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.promo-item .promo-btn {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1)
}

.slider-container {
  position: relative;
  width: 620px;
}

.slider-1,
.slider-2 {
  min-height: 266px;
  padding: 25px 20px;
  color: #ffffff;
  background-image: url("../img/slider-1.jpg");
  background-repeat: no-repeat;
  background-size: 620px 266px;
}

.slider-1 h3,
.slider-2 h3 {
  margin: 0;
  margin-bottom: 6px;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-1 p {
  margin: 0;
}

.slider-2 {
  display: none;
}

.slider-switchers {
  position: absolute;
  bottom: 112px;
  width: 100%;
  padding-left: 20px;
}

.prev-btn {
  display: inline-block;
  width: 22px;
  height: 40px;
  margin-right: 531px;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.next-btn {
  display: inline-block;
  width: 22px;
  height: 40px;
  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.catalog-btn {
  position: absolute;
  display: block;
  top: 206px;
  left: 25px;
}

.slider-dots {
  position: absolute;
  left: 50%;
  bottom: 36px;
}

.slider-dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.promo-item:nth-of-type(1) {
  position: relative;
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-position: top right;
  background-repeat: no-repeat;
}

.promo-item:nth-of-type(2) {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-position: top right;
  background-repeat: no-repeat;
}

.promo-item:nth-of-type(3) {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-position: top right;
  background-repeat: no-repeat;
}

.promo-item:nth-of-type(5) {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-position: top right;
  background-repeat: no-repeat;
}

.promo-item:nth-of-type(6) {
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-position: top right;
  background-repeat: no-repeat;
}

.new-item {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  width: 60px;
  height: 59px;
  background-image: url("../img/new_flag.png");
}

.red-btn {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.white-btn {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
  background-color: #f9f5f0;
}

.popular-items.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.title-container h2 {
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.popular-items-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popular-item,
.content-item {
  width: 220px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
}

.popular-item,
.content-item {
  position: relative;
}

.popular-item:nth-of-type(4) p,
.content-item p {
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.popular-item h3,
.content-item h3 {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.popular-item del,
.content-item del {
  color: #a9a9a9;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
}

.popular-item ins,
.content-item ins {
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ee3643;
}

.popular-brands.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.popular-brands .title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.brand-items-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.brand-item {
  width: 220px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.services.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.services {
  background-color: #f4f7f9;
}

.service-text h3 {
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.service-text p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.tab {
  float: left;
  width: 240px;
  margin-right: 80px;
}

.tablinks {
  display: block;
  width: 100%;
  height: 61px;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  border: none;
  background-color: #32425c;
  cursor: pointer;
  transition: 0.3s;
}

.tablinks:hover {
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #293449;
}

.tab button.active {
  color: #32425c;
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
  background-color: #ffffff;
}

.tabcontent {
  position: relative;
  float: left;
  width: 619px;
  border-left: none;
  height: 282px;
}

.tabcontent:nth-child(3),
.tabcontent:nth-child(4) {
  display: none;
}

.tabcontent img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.service-subtext h4 {
  margin-top: 0;
  color: #32425c;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}

.service-subtext p {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.technomart-info.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.technomart-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.technomart-info h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.company-info {
  width: 540px;
}

.company-info > p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.trucking-companys > li {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  list-style: none;
}

.trucking-companys > li::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.company-contacts {
  width: 300px;
}


.company-contacts > p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.map-popup {
  display: none;
}

.footer-nav.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-top {
  background-color: #32425c;
}

.footer-nav-list {
  list-style: none;
}

.bottom-item {
  display: inline-block;
  margin-left: 60px;
}

.bottom-item a {
  color: #f1f5f7;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-info.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-info-text p {
  margin: 0px;
  color: #f3f7f9;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.promo-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.promo-link {
  display: inline-block;
  margin-left: 60px;
}

.promo-link a {
  color: #ffd180;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-social {
  background-color: #293449;
}

.social-text p {
  margin: 0;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.social-list {
  list-style: none;
}

 .social-item {
   position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
} 

.social-item:nth-of-type(1) a {
  position: absolute;
  top: 13px;
  left: 8px;
  display: block;
  width: 26px;
  height: 15px;
  background-image: url("../img/icon-vk.svg");
  background-position: center center;
}

.social-item:nth-of-type(2) a {
  position: absolute;
  top: 10px;
  left: 15px;
  display: block;
  width: 12px;
  height: 22px;
  background-image: url("../img/icon-fb.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.social-item:nth-of-type(3) a {
  position: absolute;
  top: 10px;
  left: 11px;
  display: block;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-insta.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.footer-social .feedback {
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.feedback a {
  color: #ffd180;
}

.footer-social .developed-by {
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.developed-by a {
  color: #ffd180;
}

.write-modal {
  display: none;
  width: 620px;
  height: 430px;
  margin: 0 auto;
  background-color: #ffffff;
}

.write-modal .modal-bottom {
  background-color: #f4f4f4;
}

.user-contacts label,
.user-message label {
  color: #000000;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.user-contacts  input::-webkit-input-placeholder {
  color: #a9a9a9;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.user-message textarea::-webkit-input-placeholder {
  color: #a9a9a9;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.submit-btn {
  border: none;
}

.btn-close {
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-close.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.modal-top {
  border-top: 7px solid #ee3643;
}

.check-mark {
  display: inline-block;
  width: 66px;
  height: 66px;
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
}

.modal-top  p {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}




/* Main catalog.html */

.catalog-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pages-list {
  list-style: none;
}

.page-link {
  display: inline-block;
}

.page-link a {
  color: #000000;
  font-family: "PT Sans", "Arial",  sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.page-link:nth-of-type(1) a {
  display: inline-block;
  width: 14px;
  height: 12px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
}

.page-link:nth-of-type(2) a::before,
.page-link:nth-of-type(3) a::before,
.page-link:nth-of-type(4) a::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog-headline {
  background-color: #f2f6f8;
}

.catalog-headline h1 {
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-row {
  width: 220px;
}

.filter-subtitle {
  background-color: #f7f3ec;
}

.filter-subtitle p {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.price-filter  label {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.min-output {
  text-align: center;
  display: inline-block;
  width: 95px;
  height: 38px;
  background-color: #f7f3ec;
}

.max-output {
  text-align: center;
  display: inline-block;
  width: 95px;
  height: 38px;
  background-color: #f7f3ec;
}

fieldset {
  border: none;
}

.price-filter fieldset,
.brands-filter fieldset {
  border-bottom: 1px solid #e5e5e5;
}

fieldset legend {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.brands-filter ul {
  list-style: none;
}

.brands-item label {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.powered-list {
  list-style: none;
}

.powered-item label {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-row button {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border: 1px solid #e5e5e5;
}

.content-row {
  width: 700px;
}

.content-row-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.sort-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f7f3ec;
}

.sort-container p {
  display: inline-block;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-list {
  list-style: none;
}

.sort-item {
  display: inline-block;
}

.sort-item a {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border-bottom: 1px dotted #ee3643;
  opacity: 0.3;
}

.sort-item:nth-child(4) a {
  display:inline-block;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
}

.sort-item:nth-child(5) a {
  display:inline-block;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
}

.active-container button:nth-child(1) {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 #367315;
  border: none;
}

.active-container button:nth-child(2) {
  color: #32425c;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: 3px solid #63a63e;
  background-color: transparent;
}

.switchers-list {
  list-style: none;
}

.switcher-item {
  display: inline-block;
  width: 38px;
  height: 38px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.switcher-item:last-child {
  width: 140px;
}

.switcher-item a {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.article-subtitle {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

article p {
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  line-height: 24px;
}


.modal-cart {
  display: none;
  width: 620px;
  height: 282px;
  margin: 0 auto;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.modal-bottom {
  padding: 37px 80px;
  background-color: #f1f1f1;
}
