/* Позиционирование */
 /* Блочная модель */
 /* Типографика */
 /* Оформление */
  /* Анимация */
  /* Разное */


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), 
  url("../fonts/web/ptsans.woff2") format("woff2"),
  url("../fonts/web/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), 
  url("../fonts/web/ptsansbold.woff2") format("woff2"),
  url("../fonts/web/ptsansbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: local("Cuprum Regular"), local("Cuprum-Regular"), 
  url("../fonts/web/cuprum.woff2") format("woff2"),
  url("../fonts/web/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: local("Cuprum Bold"), local("Cuprum-Bold") 
  url("../fonts/web/cuprumbold.woff2") format("woff2"),
  url("../fonts/web/cuprumbold.woff") format("woff");
}  

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: local("Cuprum Italic"), local("Cuprum-Italic"), 
  url("../fonts/web/cuprumitalic.woff2") format("woff2"),
  url("../fonts/web/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src: local("Cuprum Bold Italic"), local("Cuprum-BoldItalic"), 
  url("../fonts/web/cuprumbolditalic.woff2") format("woff2"),
  url("../fonts/web/cuprumbolditalic.woff") format("woff");
}


@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
    }
  }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

html { 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; 
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;  
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix {
  height: 0px;
  clear: both;
}

.main-header {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header-top {
  min-height: 42px;
  background-color: #293449;  
}

.header-top .container {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.technomart-logo-wrapper {
  position: relative;
  width: 220px;
  height: 42px;
}

.technomart-logo {
  width: 100%;
  position: absolute;
}

.technomart-logo img {
  height: 17px;
}

.technomart-logo a {
  display: block;
  height: 100%;
  width: 100%;
  padding-left: 55px;
  padding-right: 56px;
  padding-top: 12px;
  padding-bottom: 14px;
  background-color: #ee3643;
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.technomart-logo a:hover {
  background-color: #ca2c37;
}

.technomart-logo a:active {
  background-color: #ba2732;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  position: relative;
  width: 270px;
  min-height: 42px;
}

.search-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.search-field {
  width: 170px;
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

.search-button {
  vertical-align: middle;
  display: inline-block;
  width: 49px;
  padding: 0px; 
  font-size: 0px;
  background-color: transparent;
  border: none;
}

.search-button-svg {
  opacity: 0.3;
}

.search-form.active .search-field {
  width: 221px;
  background-color: #ffffff; 
}

.search-form.active .search-label {
  display: none;
}

.search-form.active .search-button {
  background-color: #ffffff;
}

.search-form.active .search-button-svg {
  fill: #ee3643;
  opacity: 1;
}

.search-field::-webkit-input-placeholder {
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.search-field::-moz-placeholder {
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.search-field:-ms-input-placeholder {
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.search-field::-ms-input-placeholder {
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.search-field::placeholder {
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.search-field::-ms-input-placeholder {
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.search-form:hover {
  background-color: #212a3a;
}

.search-form:hover .search-button-svg {
  opacity: 1;
}


.links-container {
  width: 450px;
  padding: 0px;
  font-size: 0px;
}

.links-container a {
  display: inline-block;
  width: 150px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.bookmark-link {
  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 17px;
  padding-right: 24px;
}

.bookmark-logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.bookmark-svg {
  opacity: 0.3;
}

.cart-link.full-cart {
  background-color: #ee3643;
}

.cart-link {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 20px;
}

.cart-logo{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 12px;
}

.cart-svg {
  opacity: 0.3;
}

.bookmark-link:hover,
.cart-link:hover {
  background-color: #212a3a;
}

.bookmark-link:hover .bookmark-svg,
.cart-link:hover .cart-svg {
  opacity: 1;
}

.bookmark-link:active,
.cart-link:active {
  background-color: #161d29;
}

.bookmark-link:active .bookmark-svg,
.cart-link:active .cart-svg {
  opacity: 0.5;
}

.order-link {
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #63a63e;
}

.order-link:hover {
  background-color: #5fbb2d;
}

.order-link:active {
  background-color: #518534;
}

.header-middle {
  min-height: 278px;
}

.header-middle .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-middle,
.perforator-article {
  background-color: #f4f7f9;
}

.slogan-container {
  width: 300px;
  padding-top: 48px;
  padding-bottom: 40px;
  padding-left: 52px;
  padding-right: 50px; 
}

.slogan-container p {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.info-container {
  width: 300px;
  padding-top: 44px;
  padding-bottom: 39px;
  padding-right: 29px;
}

.info-container p {
  margin: 0px;
  padding-left: 10px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #32425c;
}

.phone-link {
  display: block;
  width: 270px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 48px;
  margin-bottom: 4px;
  margin-bottom: 6px;
  border: 3px solid #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #ee3643;
}

.call-icon {
  vertical-align: top;
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 35px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-size: 19px 19px;
}

.login-links {
  width: 300px;
  padding-top: 45px;
  padding-bottom: 67px;
  padding-left: 19px;
}

.login-link {
  vertical-align: top;
  display: inline-block;
  width: 123px;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 14px;
  padding-right: 26px;
  margin-right: 3px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff
}

.login-icon {
  vertical-align: middle;
  display: inline-block;
  width: 20px;
  height: 17px;
  margin-right: 9px;
}

.login-link:hover,
.registration-link:hover {
  color: #ee3643;
}

.login-link:hover .login-svg {
  fill: #32425c;
}

.login-link:active,
.registration-link:active {
  color: #c5c5c5;
  opacity: 0.3;
}

.login-link:active .login-svg {
  fill: #c5c5c5;
}


.registration-link {
  vertical-align: top;
  display: inline-block;
  width: 150px;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 23px;
  padding-right: 23px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff
}

.profile-links-wrapper {
  width: 300px;
  padding-top: 45px;
  padding-bottom: 42px;
}

.profile-links {
  width: 300px;
  margin-bottom: 4px;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 13px;
  padding-right: 10px;
  background-color: #ffffff;
}

.profile-links:hover .logout-link-svg  {
  fill: #32425c;
}

.profile-links:active .logout-link-svg  {
  opacity: 0.3;
}

.profile-links:hover .user-profile-svg  {
  fill: #32425c;
}

.profile-links:active .user-profile-svg  {
  opacity: 0.3;
}

.profile-links:active .user-profile {
  opacity: 0.3;
}

.user-profile {
  margin-right: 30px;
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.user-profile-icon {
  vertical-align: middle;
  display: inline-block;
  width: 20px;
  height: 19px;
  margin-right: 9px;
}

.logout-link {
  vertical-align: middle;
  display: inline-block;
  width: 22px;
  height: 18px;
}

.account-links {
  width: 300px;
  padding-left: 18px;
}

.account-links a {
  vertical-align: middle;
  display: inline-block;
  color: #32425c;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
}

.account-links a:hover {
  color: #ee3643;
  text-decoration: underline;
}

.account-links a:active {
  opacity: 0.3;
  color: #32425c;
}

.account-links a:nth-child(1) {
  margin-right: 12px;
}

.account-links > span {
  margin-right: 9px;
}

.dark-dot {
  vertical-align: middle;
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
}

.header-nav {
  width: 960px;
  margin-bottom: 55px;
  -webkit-box-shadow: inset 0 -5px 0 #293449;
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
}

.nav-list {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}


.nav-item a {
  display: block;
  width: auto;
  padding-top: 20px;
  padding-bottom: 23px;
  padding-right: 30px;
  padding-left: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  color: #ffffff;
}

.nav-item:first-child a {
  padding-left: 50px;
}

.nav-item:last-child a {
  padding-right: 50px;
}

.nav-item.top-item:hover {
 background-color: #293449;
}

.nav-item.top-item:active {
  background-color: #1d2739;
 }

/* main index.html */

.container .promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.promo {
  margin-top: 59px;
  margin-bottom: 32px;
}

.promo-item {
  position: relative;
  overflow: hidden;
  width: 300px;
  min-height: 123px;
  padding-top: 21px;
  padding-left: 22px;
  padding-bottom: 22px;
  margin-bottom: 20px;
}

.promo-item h3 { 
  margin: 0;
  margin-bottom: 12px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.8px;
}

.promo-item .promo-btn {
  display: block;
  left: 25px;
  bottom: 23px;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.promo-item .promo-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-item .promo-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider-container {
  position: relative;
  width: 620px;
  height: 266px;
}

.slider-container > input {
  display: none;
}

.slider {
  position: relative;
  width: inherit;
  height: inherit;
  overflow: hidden;

}

.slides {
	position: absolute;
  width: inherit;
  height: inherit;
  padding-top: 24px;
  padding-left: 25px;
  opacity: 0;
  z-index: 0;
  -webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
}

.slider-slogan p {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
}

.slider-slogan p:nth-of-type(1) {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-slogan p:nth-of-type(2) {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.slide1 {
  background-image: url("../img/slider-1.jpg")
}

.slide2 {
  background-image: url("../img/slider-2.jpg")
}

.slider-container .controls {
  position: absolute;
  bottom: 32px;
  left: 296px;
}

.slider-container .arrow-buttons {
  position: absolute;
  bottom: 109px;
  left: 0;
  width: 100%;
}

.arrow-buttons label {
  vertical-align: baseline;
  position: relative;
  display: inline-block;
  height: 40px;
  width: 22px;
  background-color: transparent;
  cursor: pointer;
  z-index: 3;
}

.arrow-buttons label:nth-of-type(1) {
  left: 25px;
  background-image: url("../img/icon-left.svg");
}

.arrow-buttons label:nth-of-type(2) {
  left: 552px;
  background-image: url("../img/icon-right.svg");
}

.controls label {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #ffffff;
  border: 2px solid #ffffff; 
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
  -webkit-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

.controls label:nth-of-type(1) {
  margin-right: 6px;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2 {
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2) {
	background-color: #ee3643;
}

.catalog-btn {
  position: absolute;
  top: 206px;
  left: 25px;
  display: block;
  width: 195px;
  padding: 10px 0;
  padding-right: 45px;
  padding-left: 49px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
  z-index: 5;
}

.catalog-btn:hover {
  background-color: #ca2c37;
}

.catalog-btn:active {
  background-color: #ba2732;
}

.promo-item.materials {
  position: relative;
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-position: 213px 31px;
  background-repeat: no-repeat;
}

.promo-item.instruments {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-position: 197px 33px;
  background-repeat: no-repeat;
}

.promo-item.technics {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-position: 191px 31px;
  background-repeat: no-repeat;
}

.promo-item.discounts {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-position: 196px 26px;
  background-repeat: no-repeat;
}

.promo-item.delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-position: 191px 32px;
  background-repeat: no-repeat;
}

.new-item {
  position: absolute;
  top: -1px;
  right: -1px;
  display: block;
  width: 60px;
  height: 59px;
  text-indent: -1000px;
  background-image: url("../img/new_flag.png");
  z-index: 15;
}

.red-btn {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
}

.red-btn:hover {
  background-color: #ca2c37;
}

.red-btn:active {
  background-color: #ba2732;
}

.white-btn {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 940px;
  margin: 0px;
  margin-bottom: 17px;
  padding-top: 26px;
  padding-right: 24px;
  padding-bottom: 29px;
  padding-left: 28px;
  background-color: #f9f5f0;
  border-radius: 3px;
}

.popular-items.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.title-container h2 {
  width: 620px;
  margin: 0;
  margin-top: 4px;
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.title-container .red-btn {
  display: block;
  width: 253px;
  padding: 10px 55px;
  padding-right: 54px;
}

.popular-items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.popular-item:not(:nth-child(4n + 4)) {
  margin-right: 20px;
}

.content-item:not(:nth-of-type(3n + 3)) {
  margin-right: 20px;
}

.popular-item,
.content-item {
  position: relative;
  width: 220px;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #e5e5e5;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.actions .buy,
.actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.buy {
  position: relative;
}

.buy > .cart-logo {
  position: absolute;
  margin: 0;
  left: 10px;
}

.buy:hover {
  background-color: #5fbb2d;
}

.buy:hover .cart-svg {
  opacity: 1;
}

.buy:active {
  background-color: #518534;
}

.buy:active .cart-svg {
  opacity: 1;
}

.bookmark:hover {
  border: 3px solid #32425c;
}

.bookmark:active {
  opacity: 0.3;
}

.actions {
  display: none;
}

.content-item:hover .actions {
  display: block;
}

.content-item:hover {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popular-item:nth-of-type(4n + 4) p,
.content-item p {
  margin: 0px;
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.popular-item:nth-of-type(4n + 4) h3 {
  margin-bottom: 40px;
}

.content-item:nth-of-type(3n + 3) h3 {
  margin-bottom: 40px;
}

.popular-item h3,
.content-item h3 {
  display: block;
  width: 157px;
  margin: 0 auto;
  margin-bottom: 13px;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.popular-item img,
.content-item img {
 margin-bottom: 4px;
}

.popular-item del,
.content-item del {
  display: block;
  margin-bottom: 9px;
  color: #a9a9a9;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
}

.popular-item .price,
.content-item .price {
  position: relative;
  min-height: 40px;
  width: 141px;
  margin: 0 auto;
  margin-bottom: 17px;
  padding: 11px 30px;
  text-decoration: none;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.popular-item .price::after,
.content-item .price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.price p {
  margin: 0;
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.popular-item:hover .actions {
  display: block;
}

.popular-item:hover {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popular-brands.container {
  width: 960px;
  margin: 0 auto;
  margin-bottom: 69px;
  padding: 0 10px;
}

.popular-brands .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.red-btn-brands.red-btn {
  padding-left: 69px;
  padding-right: 69px;
}

.brand-items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.brand-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 220px;
  min-height: 145px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.brand-item a {
  display: block;
  margin: auto;
}

.brand-item:hover {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brand-item:active {
  -webkit-box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3
}

.services {
  background-color: #f4f7f9;
}

.services-container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.services-wrapper {
  margin-bottom: 77px;
}

.service-text{
  width: 400px;
  padding-top: 62px;
  margin-bottom: 72px;
}

.service-text h3 {
  margin: 0px;
  margin-bottom: 26px;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.service-text p {
  margin: 0px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.tab {
  position: relative;
  float: left;
  width: 240px;
  margin-right: 80px;
}

.tab:after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 279px;
  top: -43px;
  left: 230px;
  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.tablinks {
  display: block;
  width: 100%;
  padding: 15px 0px 16px 22px;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  -webkit-box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  border: none;
  background-color: #32425c;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.tablinks:hover {
  -webkit-box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #293449;
}

.tab button.active {
  color: #32425c;
  -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
  background-color: #ffffff;
}

.tabcontent {
  position: relative;
  float: left;
  width: 619px;
  border-left: none;
  min-height: 282px;
}

.tabcontent:nth-child(3),
.tabcontent:nth-child(4) {
  display: none;
}

.tabcontent img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.service-subtext {
  width:  275px;
}

.service-subtext h4 {
  margin: 0;
  margin-bottom: 22px;
  color: #32425c;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}

.service-subtext p {
  margin: 0px;
  margin-bottom: 30px;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.service-subtext .red-btn {
  display: block;
  width: 195px;
  padding: 12px 44px;
}

.technomart-info.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 86px;
}

.technomart-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.technomart-info h3 {
  margin: 0px;
  margin-bottom: 25px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.company-info {
  width: 540px;
  padding-right: 25px;
}

.company-info > p {
  margin: 0px;
  margin-bottom: 25px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.company-info p:nth-child(3) {
  margin-bottom: 21px;
}

.trucking-companys {
  margin: 0px;
  margin-bottom: 37px;
  padding: 0px;
}

.trucking-companys > li {
  margin-bottom: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  list-style: none;
}

.trucking-companys > li:last-child {
  margin-bottom: 0px;
}

.trucking-companys > li::before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  top: 1px;
  margin-right: 10px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.trucking-btn.red-btn {
  vertical-align: middle;
  display: inline-block;
  width: 220px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 40px;
  padding-left: 40px;
}

.company-contacts {
  width: 300px;
}


.company-contacts > p {
  margin: 0px;
  margin-bottom: 33px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.feedback-link{
  width: 300px;
  padding-left: 64px;
  padding-right: 59px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  background-color: #ee3643;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}


.map-link {
  display: block;
  width: 300px;
  margin-bottom: 43px;
}

.footer-top {
  padding-bottom: 48px;
  background-color: #32425c;
}

.footer-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-info {
  width: 380px;
}

.technomart-logo-wrapper.footer {
  position: relative;
  width: 220px;
  min-height: 68px;
  margin-bottom: 28px;
}

.technomart-logo-footer {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ee3643;
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.technomart-logo-footer a {
  display: block;
  height: 100%;
  padding: 20px 41px;
}

.technomart-logo-footer a:hover {
  background-color: #ca2c37;
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.technomart-logo-footer a:active {
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ba2732;
}

.footer-info-text p {
  display: block;
  margin: 0px;
  padding-left: 5px;
  color: #f3f7f9;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 560px;
  padding-top: 19px;
  padding-bottom: 6px;
}

.footer-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 560px;
  margin: 0;
  padding: 0;
  padding-left: 8px;
}

.bottom-item {
  vertical-align: middle;
  display: inline-block;
}

.bottom-item:hover {
  color: #f1f5f7;
  text-decoration: underline;
}

.promo-link:hover {
  color: #ffd180;
  text-decoration: underline;
}

.bottom-item:active {
  opacity: 0.5;
  color: #f1f5f7;
  text-decoration: none;
}

.promo-link:active {
  opacity: 0.5;
  color: #ffd180;
  text-decoration: none; 
}

.bottom-item:not(:nth-of-type(5n + 5)) {
  margin-right: 60px;
}

.bottom-item a {
  color: #f1f5f7;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.promo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  padding-left: 34px;
  list-style: none;
}

.promo-link {
  vertical-align: middle;
  display: inline-block;
}

.promo-link:not(:nth-of-type(4n + 4)) {
  margin-right: 60px;
}

.promo-link a {
  color: #ffd180;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 36px;
  padding-bottom: 25px;
}

.footer-social {
  background-color: #293449;
}

.social-text {
  width: 230px;
  margin-right: 140px;
}

.social-text p {
  margin: 0;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.social-list {
  display: block;
  width: 180px;
  margin: 0;
  padding: 0;
  list-style: none;
}

 .social-item {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
} 

.social-item:hover,
.social-item:active {
  background-color: #ee3643;
}

.social-item:nth-of-type(1) a {
  position: absolute;
  top: 13px;
  left: 8px;
  display: block;
  width: 26px;
  height: 15px;
  background-image: url("../img/icon-vk.svg");
  background-position: center center;
}

.social-item:nth-of-type(2) a {
  position: absolute;
  top: 10px;
  left: 15px;
  display: block;
  width: 12px;
  height: 22px;
  background-image: url("../img/icon-fb.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.social-item:nth-of-type(3) a {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-insta.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.footer-social .feedback {
  display: block;
  width: 180px;
  margin: 0px;
  padding-left: 45px;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.feedback a {
  color: #ffd180;
}

.footer-social .developed-by {
  display: block;
  width: 150px;
  padding-left: 37px;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.developed-by a {
  color: #ffd180;
}

.feedback a:hover, 
.developed-by a:hover {
  text-decoration: underline;
  color: #ffd180;
}

.feedback a:active, 
.developed-by a:active {
  text-decoration: none;
  color: #ee3643;
}

/* Main catalog.html */

.catalog-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 59px;
}

.pages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-top: 19px;
  list-style: none;
}

.page-link {
  display: inline-block;
}

.page-link:first-of-type a  {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  min-height: 12px;
  background-image: url("/img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.page-link:not(:last-child)::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 37px;
  min-height: 20px;
  padding: 0;
  color: #c5c5c5;
  background-image: url("/img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.page-link a {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}


.catalog-headline {
  width: 940px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-left: 28px;
  padding-bottom: 29px;
  background-color: #f2f6f8;
}

.catalog-headline h1 {
  margin: 0;
  padding: 0;
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 220px;
}

.filter-subtitle {
  width: 220px;
  background-color: #f7f3ec;
  border-radius: 5px;
}

.filter-subtitle p {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.price-filter  legend {
  margin-bottom: 14px;
  padding-top: 11px;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}


.range-filter {
  width: 220px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 8px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 152px;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  position: relative;
  margin-bottom: 25px;
  font-size: 0;
}

.price-controls:after {
  content: "";
  position: absolute;
  top: 19px;
  left: 105px;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 1px;
  background-color: #000000;
}

.price-controls input {
  display: inline-block;
  width: 95px;
  padding-top: 9px;
  padding-bottom: 11px;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
}

.price-controls input:first-child {
  margin-right: 30px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.price-filter fieldset,
.brands-filter fieldset {
  border-bottom: 1px solid #e5e5e5;
}

fieldset legend {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.brands-filter {
  width: 220px;
}

.brands-filter legend {
  margin-bottom: 14px;
  padding-top: 15px;
}

.brands-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.brands-item {
  position: relative;
  padding-left: 33px;
  margin-bottom: 20px;
}

.brands-item input {
  position: absolute;
  left: 0;
  width: 27px;
  height: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-off {
  position: absolute;
  left: 0;
  top: -1px;
  width: 27px;
  height: 24px;
  margin: 0;
}

.checkbox-on {
  display: none;
  position: absolute;
  left: 0;
  top: -1px;
  width: 27px;
  height: 24px;
  margin: 0;
}
.brand-checkbox:disabled .checkbox-svg {
  fill: #b5b5b5;
  opacity: 0.3;
}

.checkbox-on:hover .checkbox-svg,
.checkbox-off:hover .checkbox-svg {
  fill: #b5b5b5;
}

.brands-item label {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.brand-checkbox:checked ~ .checkbox-on {
  display: block;
}

.power-filter {
  width: 220px;
  margin-bottom: 58px;
}

.power-filter legend {
  padding-top: 19px;
  margin-bottom: 14px;
}

.powered-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.powered-item {
  position: relative;
  padding-left: 33px;
  margin-bottom: 20px;
}

.powered-item input {
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.powered-item label {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.radio-off {
  position: absolute;
  left: 0;
  top: -1px;
  width: 25px;
  height: 25px;
  margin: 0;
}

.radio-on {
  display: none;
  position: absolute;
  left: 0;
  top: -1px;
  width: 25px;
  height: 25px;
  margin: 0;
}

.radio-off:hover .radio-off--svg,
.checkbox-off:hover .radio-on-svg {
  fill: #b5b5b5;
}

.power-by-radio:disabled .checkbox-svg {
  fill: #b5b5b5;
  opacity: 0.3;
}

.power-by-radio:checked ~ .radio-on {
  display: block;
}

.filter-row button {
  width: 140px;
  padding: 10px 39px 9px;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.content-row {
  width: 700px;
}

.content-row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  margin-bottom: 33px;
}

.sort-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.sort-container p {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 230px;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 460px;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  list-style: none;
}

.sort-item {
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
}
.sort-link  {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
}

.sort-item:nth-of-type(1),
.sort-item:nth-of-type(2) {
  width: 110px;
}
.sort-item:nth-of-type(3) {
  width: 140px;
}

.sort-item:nth-of-type(4),
.sort-item:nth-of-type(5) {
  width: 30px;
}

.sort-item a {
  border-bottom: 1px dotted #ee3643;
}

.sort-item:nth-child(4) a,
.sort-item:nth-child(5) a {
  border: none;
}

.sort-item a:hover {
  border-bottom: 1px solid #ee3643;
  opacity: 1;
}

.sort-item:nth-child(4) a:hover,
.sort-item:nth-child(5) a:hover {
  border: none;
  opacity: 1;
}

.sort-item.active a {
  color: #ee3643;
  border: none;
  opacity: 1;
}

.sort-item:nth-child(4).active .icon-up-svg,
.sort-item:nth-child(5).active .icon-down-svg {
  fill: #ee3643;
  border: none;
  opacity: 1;
}

.switchers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.switcher-item {
  display: inline-block;
  width: 38px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0px;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
}

.switcher-item:not(:last-child) {
  margin-right: 10px;
}

.switcher-item:last-child {
  width: 140px;
}

.switcher-item a {
  display: block;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.switcher-item:hover {
  border: 1px solid #bdc6ca;
}

.switcher-item:active {
  border: 1px solid #ee3643;
}

.switcher-item.active {
  background-color: #ee3643;
}

article {
  padding-top: 65px;
  padding-bottom: 68px;
}

.article-subtitle {
  margin-bottom: 26px; 
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

article p {
  margin: 0;
  padding: 0;
  padding-right: 25px;
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #000000;
  background-color: #ffffff;
  z-index: 1000;
}

.write-modal {
  display: none;
  width: 620px;
  max-width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.modal-top {
  position: relative;
  min-height: 318px;
  padding: 46px 80px 35px;
  border-top: 7px solid #ee3643;
}

.user-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-name-wrapper {
  width: 220px;
  margin-right: 20px;
}

.user-email-wrapper {
  width: 220px;
}

.user-contacts input {
  width: 100%;
}

.user-contacts label,
.user-message label {
  display: block;
  margin-bottom: 11px;
  color: #000000;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.user-name-wrapper input {
  padding: 7px 14px 8px 14px;
  border: 2px solid #dee3e4;
}

.user-email-wrapper input {
  padding: 8px 14px 7px 14px;
  border: 2px solid #dee3e4;
}

.user-name-wrapper input:hover,
.user-email-wrapper input:hover,
.user-message textarea:hover {
  border: 2px solid #b5b5b5;
}

.user-name-wrapper input:focus,
.user-email-wrapper input:focus,
.user-message textarea:focus {
  border: 2px solid #ee3643;
  outline: none;
}

.user-contacts  input::-webkit-input-placeholder {
  color: #a9a9a9;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.user-contacts  input::-moz-placeholder {
  color: #a9a9a9;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.user-contacts  input:-ms-input-placeholder {
  color: #a9a9a9;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.user-contacts  input::-ms-input-placeholder {
  color: #a9a9a9;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.user-contacts  input::placeholder {
  color: #a9a9a9;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.user-message {
  width: 460px;
}

.user-message textarea {
  display: block;
  resize: none;
  width: 100%;
  min-height: 114px;  
  margin: 0;
  padding: 0;
  padding-left: 14px;
  padding-top: 11px;
  resize: none;
  border: 2px solid #dee3e4;
}

.user-message textarea::-webkit-input-placeholder {
  color: #a9a9a9;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.user-message textarea::-moz-placeholder {
  color: #a9a9a9;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.user-message textarea:-ms-input-placeholder {
  color: #a9a9a9;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.user-message textarea::-ms-input-placeholder {
  color: #a9a9a9;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.user-message textarea::placeholder {
  color: #a9a9a9;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.write-modal .modal-bottom {
  background-color: #f4f4f4;
}

.modal-bottom {
  padding: 37px 80px;
  background-color: #f1f1f1;
}

.red-btn.submit-btn {
  width: 100%;
  padding: 0;
  border: none;
  padding: 10px;
}

.modal.write-modal .modal-close {
  position: absolute;
  right: 9px;
  top: 16px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-close.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.map-popup {
  display: none;
  width: 940px;
  max-width: 100%;
  height: 447px;
  max-height: 100%;
  -webkit-box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
  box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
  -webkit-animation: bounce 1s;
  animation: bounce 1s; 
}

.map-popup p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.map-popup iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.modal.map-popup .modal-close {
  position: absolute;
  right: 9px;
  top: 9px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-close.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;
}

.modal-cart {
  display: none;
  width: 620px;
  margin: 0 auto;
  border-top: 7px solid #ee3643;
  -webkit-box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
  -webkit-animation: bounce 0.5s;
  animation: bounce 0.5s;
}

.check-mark {
  vertical-align: middle;
  display: inline-block;
  width: 66px;
  height: 66px;
  margin-right: 32px;
}

.modal-cart p {
  margin: 0;
  color: #000000;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.modal-top-cart {
  padding-top: 48px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 49px;
}

.modal-bottom-cart {
  padding: 37px 80px;
  background-color: #f1f1f1;
}

.red-btn.checkout {
  display: inline-block;
  vertical-align: middle;
  width: 220px;
  margin-right: 15px;
  padding: 10px 62px 10px 59px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase; 
}

.red-btn.checkout:hover {
  background-color: #ca2c37;
}

.red-btn.checkout:active {
  background-color: #ba2732;
}

.white-btn.proceed {
  display: inline-block;
  vertical-align: middle;
  width: 220px;
  padding: 10px 47px 10px 44px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase; 
}

.white-btn.proceed:hover {
  color: #ee3643;
}

.white-btn.proceed:active {
  opacity: 0.3;
  color: #000000;
}

.modal.modal-cart .modal-close {
  position: absolute;
  right: 9px;
  top: 16px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-close.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-show {
  display: block;  
}